# Exploratory Data Analysis (EDA)

In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('WhiskeyScrappedData.csv')

In [6]:
df

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NaN,3% ABV,£59.95
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NaN,3% ABV,£79.95
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NaN,45% ABV,£31.95
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NaN,47% ABV,£43.95
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NaN,8% ABV,£124.95
...,...,...,...,...,...,...,...,...
522,522,Teeling,Silver Reserve Irish,Irish,70cl,21 Year Old\n·\n1991\nVintage,46% ABV,£749.95
523,523,Teeling,Small Batch Irish,Irish,70cl,NaN,46% ABV,NaN
524,524,Teeling,Pineapple Rum Cask #2 - Small Batch Collaborat...,NaN,70cl,NaN,2% ABV,NaN
525,525,Teeling,Ginger Beer - Small Batch Collaboration - 2022...,NaN,70cl,NaN,46% ABV,NaN
526,526,Teeling,Vintage Reserve - Single Malt Irish,Irish,70cl,32 Year Old\n·\n1988\nVintage,46% ABV,NaN

#### `Replacing empty space with NAS`
- No Age Statement (NAS)
- Because some brands does not disclose age of distillery
### No Age Statement (NAS) whiskies are more common now because:

- They let distillers blend younger and older stock for consistency.

- They offer flexibility and avoid limiting perception by age alone.

In [9]:
replace0 = lambda x : 'NAS' if x == '' else x

In [11]:
df['Year'] = df['Year'].apply(replace0).head(50)
df['Year'] = df['Year'].fillna('NAS')

In [15]:
#Rechecking 
print(df['Year'].isna().sum())

0

### Removing Special characters and alphabet from ABV_Percent column and converting it to integer

In [18]:
df['ABV_Percent'] = df['ABV_Percent'].replace('\D' , '' , regex = True).astype(int)

In [20]:
df

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,£59.95
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,£79.95
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,£31.95
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,£43.95
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,£124.95
...,...,...,...,...,...,...,...,...
522,522,Teeling,Silver Reserve Irish,Irish,70cl,NAS,46,£749.95
523,523,Teeling,Small Batch Irish,Irish,70cl,NAS,46,NaN
524,524,Teeling,Pineapple Rum Cask #2 - Small Batch Collaborat...,NaN,70cl,NAS,2,NaN
525,525,Teeling,Ginger Beer - Small Batch Collaboration - 2022...,NaN,70cl,NAS,46,NaN
526,526,Teeling,Vintage Reserve - Single Malt Irish,Irish,70cl,NAS,46,NaN

#### Replacing Pound symbol with empty space and converting it to float

In [23]:
df['Price_Pounds']= df['Price'].replace('[£,]' , '' , regex = True).astype(float)

In [25]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price,Price_Pounds
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,£59.95,59.95
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,£79.95,79.95
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,£31.95,31.95
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,£43.95,43.95
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,£124.95,124.95

### Creating a new feature Price_Rupees

In [28]:
df['Price_Rupees'] = df['Price_Pounds'] * 113.60

In [32]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price,Price_Pounds,Price_Rupees
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,£59.95,59.95,6810.32
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,£79.95,79.95,9082.32
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,£31.95,31.95,3629.52
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,£43.95,43.95,4992.72
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,£124.95,124.95,14194.32

### Creating a 'ABV_Category' Column

Low: ABV < 40

Medium: 40 ≤ ABV ≤ 47

High: ABV > 47

In [36]:
def abv_category(x):
    if x < 40:
        return 'Low'
    elif x > 40 and x <47:
        return 'Medium'
    else:
        return 'High'

In [38]:
df['ABV_Category'] = df['ABV_Percent'].apply(abv_category)

In [40]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price,Price_Pounds,Price_Rupees,ABV_Category
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,£59.95,59.95,6810.32,Low
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,£79.95,79.95,9082.32,Low
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,£31.95,31.95,3629.52,Medium
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,£43.95,43.95,4992.72,High
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,£124.95,124.95,14194.32,Low

### Filling the null values with Forward Propogation

In [44]:
df['Type'].fillna(method = 'ffill' , inplace = True)

C:\Users\shubh\AppData\Local\Temp\ipykernel_18644\20426759.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Type'].fillna(method = 'ffill' , inplace = True)
C:\Users\shubh\AppData\Local\Temp\ipykernel_18644\20426759.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Type'].fillna(method = 'ffill' , inplace = True)

In [46]:
df.head(50)

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price,Price_Pounds,Price_Rupees,ABV_Category
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,£59.95,59.95,6810.32,Low
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,£79.95,79.95,9082.32,Low
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,£31.95,31.95,3629.52,Medium
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,£43.95,43.95,4992.72,High
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,£124.95,124.95,14194.32,Low
5,5,Maker's Mark,Kentucky Straight Bourbon,Kentucky,70cl,NAS,45,£35.95,35.95,4083.92,Medium
6,6,Ben Holladay,Soft Red Wheat Bottled In Bond Straight Bourbon,Bourbon,70cl,NAS,50,£79.95,79.95,9082.32,High
7,7,Booker's,2024-01 Batch Bourbon,Bourbon,70cl,7 Year Old,2,£89.95,89.95,10218.32,Low
8,8,Wild Turkey,Rare Breed Kentucky Straight Bourbon,Kentucky,70cl,NAS,4,£59.95,59.95,6810.32,Low
9,9,Wild Turkey,81 Kentucky Straight Bourbon,Kentucky,70cl,NAS,5,£29.95,29.95,3402.32,Low
10,10,Maker's Mark,46 Kentucky Straight Bourbon,Kentucky,70cl,NAS,47,£39.95,39.95,4538.32,High
11,11,Wild Turkey,101 Kentucky Straight Bourbon,Kentucky,70cl,NAS,5,£39.95,39.95,4538.32,Low
12,12,Old Bardstown,Kentucky Straight Bourbon,Kentucky,70cl,NAS,45,£39.95,39.95,4538.32,Medium
13,13,Leiper’s Fork,Bottled In Bond Bourbon,Bourbon,70cl,4 Year Old,50,£79.95,79.95,9082.32,High
14,14,Leiper’s Fork,Bottled In Bond Tennessee Bourbon,Tennessee,70cl,4 Year Old,50,£79.95,79.95,9082.32,High
15,15,Old Forester,1870 Original Batch Kentucky Straight Bourbon,Kentucky,70cl,NAS,45,£47.95,47.95,5447.12,Medium
16,16,Jim Beam,Black Extra-Aged Bourbon,Bourbon,70cl,NAS,43,£27.65,27.65,3141.04,Medium
17,17,Elijah Craig,Single Barrel Bourbon,Barrel,70cl,18 Year Old,45,£219.95,219.95,24986.32,Medium
18,18,Buffalo Trace,Kosher Rye Recipe Bourbon,Rye,75cl,NAS,47,£39.95,39.95,4538.32,High
19,19,Basil Hayden's,Kentucky Straight Bourbon,Kentucky,70cl,NAS,40,£49.95,49.95,5674.32,High
20,20,SirDavis,Sherry Cask Rye,Rye,70cl,NAS,44,£78.95,78.95,8968.72,Medium
21,21,Wild Turkey,Kentucky Straight Rye,Kentucky,70cl,NAS,5,£36.95,36.95,4197.52,Low
22,22,Elijah Craig,Kentucky Straight Rye,Kentucky,70cl,NAS,47,£48.95,48.95,5560.72,High
23,23,Jack Daniel's,Bonded Rye Tennessee,Rye,70cl,NAS,50,£42.95,42.95,4879.12,High
24,24,Rebel,Straight Rye,Rye,70cl,NAS,45,£39.95,39.95,4538.32,Medium
25,25,Buffalo Trace,Kosher Straight Rye,Rye,75cl,NAS,47,£39.95,39.95,4538.32,High
26,26,Knob Creek,Small Batch Kentucky Straight Rye,Kentucky,70cl,NAS,50,£46.95,46.95,5333.52,High
27,27,Sagamore,Double Oak Rye,Rye,70cl,NAS,3,£76.95,76.95,8741.52,Low
28,28,New York Distilling,Ragtime Rye Bottled In Bond,Rye,70cl,4 Year Old,50,£49.95,49.95,5674.32,High
29,29,Rabbit Hole,Boxergrail Kentucky Straight Rye,Kentucky,70cl,NAS,5,£46.95,46.95,5333.52,Low
30,30,WhistlePig,Vermont Oak Finish Rye,Rye,70cl,15 Year Old,46,£249.95,249.95,28394.32,Medium
31,31,Balcones,Texas Rye 100 Proof,Rye,70cl,NAS,50,£49.95,49.95,5674.32,High
32,32,WhistlePig,Piggyback 100% Rye,Rye,70cl,6 Year Old,3,£48.95,48.95,5560.72,Low
33,33,Few,Immortal Rye,Rye,70cl,NAS,5,£66.95,66.95,7605.52,Low
34,34,Willett's,Family Reserve Rye,Rye,70cl,4 Year Old,4,£79.95,79.95,9082.32,Low
35,35,James E Pepper,1776 Straight Rye,Rye,70cl,NAS,46,£44.95,44.95,5106.32,Medium
36,36,New York Distilling,Ragtime Rye,Rye,70cl,NAS,2,£39.85,39.85,4526.96,Low
37,37,Heaven's Door,Straight Rye Whiskey (Bob,Rye,70cl,NAS,43,£69.95,69.95,7946.32,Medium
38,38,Few,Rye,Rye,70cl,NAS,5,£69.95,69.95,7946.32,Low
39,39,Jack Daniel's,Tennessee Rye,Tennessee,70cl,NAS,45,£32.95,32.95,3743.12,Medium
40,40,Jack Daniel's,Bonded Rye Tennessee,Rye,70cl,NAS,50,£42.95,42.95,4879.12,High
41,41,Jack Daniel's,American Single Malt Sherry Cask Whiskey (1,American,100cl,NAS,45,£119.95,119.95,13626.32,Medium
42,42,Leiper’s Fork,Bottled In Bond Bourbon,Bourbon,70cl,4 Year Old,50,£79.95,79.95,9082.32,High
43,43,Leiper’s Fork,Bottled In Bond Tennessee Bourbon,Tennessee,70cl,4 Year Old,50,£79.95,79.95,9082.32,High
44,44,Davidson Reserve,Four Grain Tennessee,Tennessee,70cl,NAS,50,£54.95,54.95,6242.32,High
45,45,Davidson Reserve,Sour Mash Tennessee,Tennessee,70cl,NAS,48,£47.95,47.95,5447.12,High
46,46,Uncle Nearest,1856 Premium,Tennessee,70cl,NAS,50,£74.95,74.95,8514.32,High
47,47,Jack Daniel's,Bonded Tennessee,Tennessee,70cl,NAS,50,£39.95,39.95,4538.32,High
48,48,Jack Daniel's,Triple Mash Tennessee,Tennessee,70cl,NAS,50,£39.95,39.95,4538.32,High
49,49,Uncle Nearest,1884 Small Batch,Tennessee,70cl,NAS,5,£59.95,59.95,6810.32,Low

### Dropping the Price Column

In [49]:
df.drop('Price' , inplace = True , axis = 1)

In [51]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price_Pounds,Price_Rupees,ABV_Category
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,59.95,6810.32,Low
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,79.95,9082.32,Low
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,31.95,3629.52,Medium
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,43.95,4992.72,High
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,124.95,14194.32,Low

### Checking Missing Values

In [53]:
df.isna().sum()

Unnamed: 0       0
Brand            0
Varieties        0
Type             0
Centi_liter      0
Year             0
ABV_Percent      0
Price_Pounds    48
Price_Rupees    48
ABV_Category     0
dtype: int64

In [55]:
df.describe()

       Unnamed: 0  ABV_Percent  Price_Pounds  Price_Rupees
count  527.000000   527.000000    479.000000  4.790000e+02
mean   263.000000    34.244782    526.715553  5.983489e+04
std    152.276065    18.378127   3130.802410  3.556592e+05
min      0.000000     0.000000      3.950000  4.487200e+02
25%    131.500000     9.000000     43.950000  4.992720e+03
50%    263.000000    43.000000     64.950000  7.378320e+03
75%    394.500000    46.000000    139.950000  1.589832e+04
max    526.000000    95.000000  47999.950000  5.452794e+06

### Replacing null values with median value in 'Price_Rupees' Column

In [59]:
df['Price_Rupees'].fillna(df['Price_Rupees'].median() , inplace = True)

C:\Users\shubh\AppData\Local\Temp\ipykernel_18644\2280103414.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Price_Rupees'].fillna(df['Price_Rupees'].median() , inplace = True)

In [61]:
## Rechecking
df[df['Price_Rupees'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, Brand, Varieties, Type, Centi_liter, Year, ABV_Percent, Price_Pounds, Price_Rupees, ABV_Category]
Index: []

### Dropping 'Price_Pounds' Column

In [64]:
df.drop('Price_Pounds' , axis = 1 , inplace = True)

In [66]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price_Rupees,ABV_Category
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,6810.32,Low
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,9082.32,Low
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,3629.52,Medium
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,4992.72,High
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,14194.32,Low

In [68]:
## Rechecking
df.isna().sum()

Unnamed: 0      0
Brand           0
Varieties       0
Type            0
Centi_liter     0
Year            0
ABV_Percent     0
Price_Rupees    0
ABV_Category    0
dtype: int64

### Converting float to integer to Price_Rupees column

In [71]:
df['Price_Rupees'] = round(df['Price_Rupees'] , 0).astype(int)

In [73]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price_Rupees,ABV_Category
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70cl,NAS,3,6810,Low
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70cl,NAS,3,9082,Low
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70cl,NAS,45,3630,Medium
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75cl,NAS,47,4993,High
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70cl,NAS,8,14194,Low

### Removing cl from Centi_liter column

In [76]:
df['Centi_liter'] = df['Centi_liter'].replace('\D' , '' , regex = True).astype(int)

In [78]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price_Rupees,ABV_Category
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70,NAS,3,6810,Low
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70,NAS,3,9082,Low
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70,NAS,45,3630,Medium
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75,NAS,47,4993,High
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70,NAS,8,14194,Low

### Creating a new column 'Mili_liter'

In [81]:
df['Mili_liter'] = df['Centi_liter'] * 10

In [83]:
df.head()

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price_Rupees,ABV_Category,Mili_liter
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70,NAS,3,6810,Low,700
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70,NAS,3,9082,Low,700
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70,NAS,45,3630,Medium,700
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75,NAS,47,4993,High,750
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70,NAS,8,14194,Low,700

In [85]:
## Rechecking
df.isna().sum()

Unnamed: 0      0
Brand           0
Varieties       0
Type            0
Centi_liter     0
Year            0
ABV_Percent     0
Price_Rupees    0
ABV_Category    0
Mili_liter      0
dtype: int64

### Checking No of Duplicates

In [90]:
print(df.duplicated().sum())

0

- If Duplicate occurs in data drop it using 
  df.drop_duplicates(inplace = True)

In [98]:
df

,Unnamed: 0,Brand,Varieties,Type,Centi_liter,Year,ABV_Percent,Price_Rupees,ABV_Category,Mili_liter
0,0,Angel's Envy,Straight Port Cask Finish Bourbon,Bourbon,70,NAS,3,6810,Low,700
1,1,Angel's Envy,Manhattan Bundle - Martini Rubino Vermouth & S...,Bourbon,70,NAS,3,9082,Low,700
2,2,Buffalo Trace,Traveller Bourbon Whiskey (Chris,Bourbon,70,NAS,45,3630,Medium,700
3,3,Buffalo Trace,Kosher Wheat Recipe Bourbon,Bourbon,75,NAS,47,4993,High,750
4,4,Elijah Craig,Barrel Proof Kentucky Straight Bourbon,Barrel,70,NAS,8,14194,Low,700
...,...,...,...,...,...,...,...,...,...,...
522,522,Teeling,Silver Reserve Irish,Irish,70,NAS,46,85194,Medium,700
523,523,Teeling,Small Batch Irish,Irish,70,NAS,46,7378,Medium,700
524,524,Teeling,Pineapple Rum Cask #2 - Small Batch Collaborat...,Irish,70,NAS,2,7378,Low,700
525,525,Teeling,Ginger Beer - Small Batch Collaboration - 2022...,Irish,70,NAS,46,7378,Medium,700
526,526,Teeling,Vintage Reserve - Single Malt Irish,Irish,70,NAS,46,7378,Medium,700

In [ ]:
df.to_csv('WhiskeyCleanedData.csv')

If you wants to refer my entire EDA data visit my github : https://github.com/shubham132004